 body {
      font-family: Arial;
      padding: 20px;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    table {
      margin-top: 20px;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: center;
    }
    img {
      width: 50px;
      height: auto;
    }